<div class="container">

  <h1>Posts</h1>

  
      <% @posts.each do |post| %>
        <div class="item"><h1><%= post.title %></h1></div>
        <div class="item"><h4><%= post.body %></h4></div>
        <table>
          <tr>
            <td class="item">by: <%= post.user.email %></td>
            <td class="item"><%= link_to 'Show', post %></td>
            <% if post.user == current_user %>
              <td class="item"><%= link_to 'Edit', edit_post_path(post) %></td>
              <td class="item"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        </table>
          
        </tr>
      <% end %>


  <br>

  <%= link_to 'New Post', new_post_path %>

</div>
